<div class="Form">
  <div class="info">
    <div class="info_log container" style="width: 100%;">
      <input class="Input-2" type="text" name="Email" id="LogEmail" placeholder="Email" required/>
      <div class="Warm" id="Email_Message" ></div>

      <input class="Input-2" type="password" name="Password" id="LogPasword" placeholder="Password" required/>
      <div class="Warm" id="Password_Message"></div>
    </div>
  </div>
  <div class="button_login">
    <div class="buttons_log container" style="width: 100%;">
        <div id="Login_Message" style="width: 100%; margin: 0%; padding: 1%;"></div>
        <div class="btn btn-2">Login</div>
          <label class="btn-text" id="ForgotPassword" outerLink="">Have you forgotten your password?</label>
        <label class="btn-text" id="ButtonRegister" (click)="openRegister(register)">Sign up</label>
    </div>
  </div>
</div>

<!-- NG-MODAL REGISTER -->
<ng-template #register>
  <app-register></app-register>
</ng-template>
