<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <a class="navbar-brand" href="#">
      <a href="#" target="_blank"><img src="/assets/Icons/Icon.png" width="40" height="40"
              class="d-inline-block align-top" alt=""></a>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto" id="MenuElement">
          <li class="nav-item active btn_home">
              <a class="nav-link" routerLink="home">Home</a>
          </li>
          <li class="nav-item btn_blade">
              <a class="nav-link" routerLink="blades" >Blades</a>
          </li>
          <li class="nav-item btn_rubber">
              <a class="nav-link" routerLink="rubbers">Rubbers</a>
          </li>
          <li class="nav-item btn_ball">
              <a class="nav-link" routerLink="balls">Balls</a>
          </li>
          <li class="nav-item btn_table">
              <a class="nav-link" routerLink="tables">Tables/Nets</a>
          </li>
      </ul>
      <div id="Login_Success" style="color: #fff; font-size:150%; font-family: 'Lobster'; margin: 1%;"></div>
      <app-ico-login></app-ico-login>
  </div>
</nav>
