/* =================================================================
    * CONFIGURATION *
==================================================================*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =================================================================
    * FONTS LIST*
===================================================================*/
/*Prosto One*/
@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');
/*Prosto One*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Prosto+One&display=swap');

/* =================================================================
    * VARIABLES *
==================================================================*/
:root {
    --fuente-Prosto: 'Prosto One', cursive;
    --fuente-Lobster: 'Lobster', cursive;
    --fondo:  #ebebeb;
    --container-width: 1000px;
    
    /* NAVBAR*/
    --text-size:    19px;
    --color-bar:    #29292b;
    --color-text:   #fff;
    --color-icon:   #fff;

}

/* =================================================================
    * GENERAL STYLES *
==================================================================*/
body {
    height: 100vh;
    width: 100vw;
    background: var(--fondo);
    font-family: var(--fuente-Lobster);
    font-size: var(--text-size);

}

.navbar {
    margin-top: 0% auto;
    background-color: var(--color-bar);
    border: none;
    z-index: 10;
}

.icon-bar {
    color: #fff;
    font-size:150%;
    margin: 1%;
}
.icon{
    width:50px;
    height:50px;
}

/* =================================================================
    * LOGIN STYLES *
==================================================================*/
.login {
    width: 20%;
    height: 10%;
    text-align: "start";
    text-indent: "0px";
    margin-right: "0px";
    margin-top: "0px";
    margin-bottom: "0px";
    display: "inline-block";
    margin-left: "0px";
}

#Login-Form {
    display: none;
    position: fixed;
    width: 320px;
    height: auto;
    top: 55px;
    right: 0%;
    padding: 1%;
    color: #fff;
    background: #29292b;
    cursor: pointer;
    z-index: 10;
    border-radius: 0% 0% 0% 10%;
    overflow: hidden;
    margin: 0.5% auto;
    border: none;
    animation-name: open_slide;
    animation-duration: 0.8s;
}
