
  <div class="Form">
    <div class="Register">
      <div class="btn-shut" id="btn-cancel" title="Close"><h1>&times;</h1></div>
      <h2 class="Title-1">Register</h2>
      <div id="Reg_Message" class="Alert"></div>
        <div class="container">
            <input class="Input-2" type="text" name="Name" id="RegName" placeholder="Name" required/>
            <div class="Warm" id="Name_Message"></div>

            <input class="Input-2" type="text" name="Email" id="RegEmail" placeholder="Email" required/>
            <div class="Warm" id="Email_Message" ></div>

            <input class="Input-2" type="text" name="Password" id="RegPasword" placeholder="Password" required/>
            <div class="Warm" id="Password_Message"></div>

            <input class="Input-2" type="text" name="ValPassword" id="ValPasword" placeholder="Confirm Password" required/>
            <div class="Warm" id="ValPassword_Message"></div>

            <input class="Input-2" type="number" name="Phone" id="RegPhone" placeholder="Phone"required/>
            <div class="Warm" id="Phone_Message"></div>

        </div>
        <div class="container Reg-btns">
          <div class="btn btn-2">Cancel</div>
          <div onclick="Register()" class="btn btn-2" id="btn-Listar">Register</div>
        </div>
    </div>
  </div>

