/* =================================================================
    * REGISTER *
==================================================================*/
.Reg-btns{
  position:relative;
  margin: 2%;
  padding: 2% auto;
  justify-content: center;
  display: flex;
  align-items: flex-end;
}

.Title-1 {
  width:fit-content;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 4% auto;
  padding: 1% auto;
  border-bottom: 4px solid rgba(255, 255, 255, 0.637);
}

@keyframes fly {
  from {
      transform: scale(0)
  }

  to {
      transform: scale(1)
  }
}

/*=============  CLOSE BUTTON  ============*/

.btn-shut {
  position: absolute;
  right: 10px;
  top: 5px;
}

.btn-shut{
  color: rgb(228, 223, 223);
  font-weight: bold;
}

.btn-shut:hover, .btn-shut:focus {
  color: rgb(180, 0, 0);
  cursor: pointer;
}

/*=============  ALERTS  ============*/
.Alert{
  width: 100%;
  height: 10%;
  font-size: 10px;
  color: rgb(124, 252, 0)
}

.Warm{
  width: 100%;
  height: 10%;
  font-size: 10px;
  color: rgba(231, 16, 45, 0.959)
}
