<div class="Form">
      <div class="Register">
        <div class="btn-shut" id="btn-cancel" title="Close" (click)="CloseRegister()"><h1>&times;</h1></div>
        <h2 class="Title-1">Register</h2>
        <div id="Reg_Message" class="Alert"></div>
          <div class="container">
            <span *ngFor="let item of RegForms">
              <input class="Input-2" type="{{item.Type}}" id="Reg{{item.Field}}" [(ngModel)]=item.Value placeholder="{{item.Name}}" required/>
              <div class="Warm" id="{{item.Field}}Msn"></div>
            </span>
          </div>
          <div class="container Reg-btns">
            <div class="btn btn-2" (click)="CloseRegister()">Cancel</div>
            <div class="btn btn-2" (click)="Register()">Register</div>
          </div>
      </div>
</div>
