<app-header></app-header>
<div class="content">
<app-jumbotron></app-jumbotron>
<div class="MenuView" >
    <div class="row">
        <div class="col-sm-6 col-md-3" id="btn_blade">
            <img class="img-responsive" src="./assets/Icons/Blades.png" alt="Blades" routerLink="/blades">
            <div class="text-center btn_blade Title" routerLink="/products">Blades</div>
        </div>
        <div class="col-sm-6 col-md-3 btn_rubber" id="btn_rubber">
            <img class="img-responsive" src="./assets/Icons/Rubbers.png" alt="Rubbers" routerLink="/rubbers">
            <div class="text-center Title" id="Blade_btn" routerLink="/products">Rubbers</div>
        </div>
        <div class="col-sm-6 col-md-3 btn_ball" id="btn_ball">
            <img class="img-responsive" src="./assets/Icons/Balls.png" alt="Balls" routerLink="/balls">
            <div class="text-center Title" id="Balls_btn" routerLink="/products">Balls</div>
        </div>
        <div class="col-sm-6 col-md-3 btn_table" id="btn_table">
            <img class="img-responsive" src="./assets/Icons/Table.png" alt="Tables" routerLink="/tables">
            <div class="text-center Title" id="Tables_btn" routerLink="/products">Tables/Net</div>
        </div>
    </div>
</div>
<div class="misproductos">
    <div class="container">
        <div class="row">
            <div routerLink="/detalles/{{item._id}}" class="itemproducto col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3" *ngFor="let item of ListaDatos">
                <div class="lbestado">Nuevo</div>
                <img src="http:localhost:3000/productos/{{item._id}}.png" class="clmiproducto">
                <div class="lbnombre">{{item.nombre}}}</div>
                <div class="lbprecio">{{item.precio | currency}}</div>
            </div>
        </div>
    </div>

</div>
<!-- <app-logged-in></app-logged-in> -->
</div>
<app-footer></app-footer>
