<app-header></app-header>
<div class="container">
  <div class="row">
      <div class="col-sm-6 col-md-3" id="btn_blade">
          <img class="img-responsive" src="./assets/Icons/Blades.png" alt="Blades" routerLink="/blades">
          <div class="Title-Item text-center btn_blade"><a routerLink="/blades">Blades</a></div>
      </div>
      <div class="col-sm-6 col-md-3 btn_rubber" id="btn_rubber">
          <img class="img-responsive" src="./assets/Icons/Rubbers.png" alt="Rubbers" routerLink="/rubbers">
          <div class="Title-Item text-center" id="Blade_btn"><a routerLink="/rubbers">Rubbers</a></div>
      </div>
      <div class="col-sm-6 col-md-3 btn_ball" id="btn_ball">
          <img class="img-responsive" src="./assets/Icons/Balls.png" alt="Balls" routerLink="/balls">
          <div class="Title-Item text-center" id="Balls_btn"><a routerLink="/balls">Balls</a></div>
      </div>
      <div class="col-sm-6 col-md-3 btn_table" id="btn_table">
          <img class="img-responsive" src="./assets/Icons/Table.png" alt="Tables" routerLink="/tables">
          <div class="Title-Item text-center" id="Tables_btn"><a routerLink="/tables">Tables/Net</a></div>
      </div>
  </div>
</div>

<app-login></app-login>
