.MenuView {
  display: flex;
  padding: 3em 4em;
  z-index: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}


.img-responsive {
  display: inline-flex;
  max-width: 100%;
  height: 70%;
  cursor: pointer;
}

.Title {
  height: 8%;
  width: 100%;
  color: var(--app-backgrond);
  font-family: 'Lobster';
  font-size: 1.5em;
  font-weight: bold;
  justify-content: center;
  box-align: center;
  margin: 5% auto;
  padding: 0.5%;
  cursor: pointer;
  transition: .1s ease-in-out all;
}

.Title:hover{
  font-style: oblique;
  transform: scale(1.1);
  color: rgb(85, 4, 4);
}

.container{
  position:relative;
  top: 100px;
  z-index: 0;
}
.img.clmiproducto{
  width: 100%;
  height: 200px;
  border-radius: 50%;
  padding: 17px;
  background: #ebebeb;

}
.itemproducto{
  border: solid 1px #ebebeb;
}
.lbnombre{
  font-style: italic;
  font-weight: 600;
  text-align: center;
}
.lbprecio{
  font-style: italic;
  font-weight: 600;
  text-align: center;

}
.lbestado{
  background: #29292b;
  width: fit-content;
  padding-left: 8px;
  padding-right: 9px;
  color: white;
  border-radius: 7px;
  margin-top: 6px;
}

.New-Products{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
