<div class="jumbotron">
  <div class="row">
    <h1 class="display-3 display">TopSpin Store</h1>
    <h4>Tienda de Articulos deportivos de Tenis de Mesa.</h4>
    <p class="text-justify">
      El tenis de mesa, nace en Inglaterra en 1.870, gracias a un día muy
      lluvioso que impedía practicar el tenis de campo en un club de tenis,
      varios de los deportistas empezaron a jugar con material totalmente
      improvisado, las paletas eran tapas de madera de cajas de tabaco, y como
      pelota usaron tapones de corcho de botellas de champagne debidamente
      cortadas. La mesa, una mesa de billar dividida por unos libros.
    </p>
  </div>
</div>
