<div class="datosinformativo">

    <div class="btncerrarsesion" (click)="CerrarSesion()">Cerrar Sesión</div>
</div>

<nav class="nav">
    <div id="menulateral">
        <div class="logo">
            <a routerLink="/home" target=""><img src="/assets/Icons/Icon.png" width="40" height="40" class="d-inline-block align-top"
                alt=""/></a>
        </div>
        <ul class="list">
            <li class="list__item">
                <div class="list__button">                    
                    <a routerLink="/usuarios" target="" class="nav__link">
                        <i class="fa-sharp fa-solid fa-user"></i>
                        Usuarios
                    </a>
                </div>
            </li>

            <li class="list__item">
                <div class="list__button">
                  <a routerLink="/productos" target=""class="nav__link">
                    <i class="fa-solid fa-shop fa-lg"></i>
                    Productos
                  </a>
                </div>
            </li>
            <li class="list__item">
                <div class="list__button">                    
                    <a routerLink="/servicios" target="" class="nav__link">
                        <i class="fa-sharp fa-solid fa-truck"></i>
                        Servicios
                    </a>
                </div>
            </li>

        </ul>

    </div>


